body {
    padding: 0;
    margin: 0;
    background-image: url(../img/background.jpg);
}
.nav {
    height: 90px; 
    background: red;
}
.nav ul {
    position: absolute; 
    left: 0px;
    margin-left: 105px;
    margin-right: auto;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    color: white; 
    padding: 05px;
    font-family:'Times New Roman', Times, serif;
} 
img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin-left: 0; 
    margin-right: auto;
}
form {
    margin: auto; 
    width: 392px; 
    text-align: left;
}
.col-md-4 {
    text-align: left;
}
.input-group {
    height: 40px;
}
.form-control {
    height: 25px; 
    font-size: medium;
     width: 350px;
}
.tabela-precos {
    margin: auto; 
    border-collapse: collapse; 
    min-width: 400px; 
    border-radius: 5px 5px 0 0; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabela-precos thead tr {
    background-color: #488b88; 
    color: white; 
    text-align: left; 
    font-weight: bold;
}
.tabela-precos th, td {
    padding: 12px 15px;
}
.tabela-precos tbody tr {
    border-bottom: 1px solid #dddddd;
}
.tabela-precos tbody tr:nth-last-of-type(even) { 
    background-color: #f3f3f3;
}
.tabela-precos tbody tr:last-of-type {
    border-bottom: 2px solid #488b88;
}
iframe.video {
    display: block; 
    margin-left: 1100px;
}
img.quemsomos {
    max-height: 315px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}
img.caminhoes {
    max-width: 720px; 
    max-height: 560px;
    margin-left: auto;
    margin-right: auto;
}
.par1 {
    margin-left: auto;
    margin-right: 900px;
}
.textsobre {
    color: lightseagreen;
}  
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
.column img {
    margin-top: 200px;
    margin-left: 400px;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
} 
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    float: left;
    width: 25%;
    padding: 5px;
}
